.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.banner {
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 652px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content img{
    width: 240px;
    height: 240px;
}

.banner-content h1 {
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
}

.banner-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.banner-content button{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    Font: Azeret Mono;
    Font weight: 600;
    Font size: 20px;
}


